<footer>
    <div class="footer-content">
        <h3>code opacity</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit. Platea dictumst vestibulum rhoncus est. Sed arcu non odio euismod lacinia at quis risus. Arcu odio ut sem nulla pharetra. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Laoreet sit amet cursus sit amet.
        Condimentum lacinia quis vel eros donec ac. Dignissim enim sit amet venenatis urna. </p>
        <ul class="socials">
            <li><a href=""><i class='bx bxl-facebook' ></i></a></li>
            <li><a href=""><i class='bx bxl-twitter' ></i></a></li>
            <li><a href=""><i class='bx bxl-google-plus' ></i></a></li>
            <li><a href=""><i class='bx bxl-youtube' ></i></a></li>
            <li><a href=""><i class='bx bxl-linkedin-square' ></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 codeOpacity. designed by <span>Dmitry</span></p>
    </div>
</footer>