{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %} Lazy News {% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
        {% block preloader %}
        {% include 'inc/_preloader.html' %}
        {% endblock %}
        {% include 'inc/_sidebarMenu.html' %}

<section>
    {% block header %}

        {% include 'inc/_header.html' %}

{% endblock %}

</section>
<section>
    <div class="container mt-5">
        <div class="row">
                {% block lastNews %}
            <div class="container mb-3" style="color: #8a2435;"><h1>Последние статьи:</h1></div>
                {% endblock %}
            <div class="col-lg-8">
                {% block content %}


                {% endblock %}

            </div>

            {% block sidebar %}
            <div class="col-lg-4">
                <!-- Search widget-->
                {% include 'inc/_search.html' %}

                <!-- Categories widget-->
                {% include 'inc/_cloudCategory.html' %}

                <!-- tags widget-->
                {% include 'inc/_cloudTags.html' %}
                <!--popular post-->
                {% include 'inc/_popularPost.html' %}



            </div>
            {% endblock %}
            {% block pagination %}
        {% include 'inc/_pagination.html' %}
        {% endblock %}

        </div>


    </div>

</section>
{% include 'inc/_footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/loader.js' %}"></script>

<script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>
</body>

</html>